In [68]:
import pandas as pd

In [69]:
from sqlalchemy import create_engine
engine = create_engine('postgres://aubreymoore:canada12@localhost/import_test')

In [70]:
pd.set_option('display.max_rows', 4)
pd.options.display.max_colwidth = 100

df_taxon2 = pd.read_sql_query('select tid, name from taxon2',con=engine)
df_taxon2

         tid                 name
0          6              Plantae
1    7707728         Tracheophyta
..       ...                  ...
804  3177662              Eugenia
805  7907394  Eugenia malaccensis

[806 rows x 2 columns]

In [71]:
integers_only = pd.to_numeric(df_taxon2.tid, errors='coerce').notnull()

In [72]:
df_taxon2 = df[integers_only]
df_taxon2

,id,tid,parent_tid,name,trank,lineage
0,1,6,None,Plantae,kingdom,Plantae
1,2,7707728,6,Tracheophyta,phylum,Plantae|Tracheophyta
...,...,...,...,...,...,...
804,6107,3177662,5014,Eugenia,genus,Plantae|Tracheophyta|Magnoliopsida|Myrtales|Myrtaceae|Eugenia
805,6108,7907394,3177662,Eugenia malaccensis,species,Plantae|Tracheophyta|Magnoliopsida|Myrtales|Myrtaceae|Eugenia|Eugenia malaccensis

In [73]:
df_taxon2[df_taxon2.duplicated('name')]

,id,tid,parent_tid,name,trank,lineage
132,319,8223036,2754367,Dioscorea,species,Plantae|Tracheophyta|Liliopsida|Dioscoreales|Dioscoreaceae|Dioscorea|Dioscorea

In [74]:
df_taxon = pd.read_sql_query('select id, name from taxon',con=engine)
df_taxon

       id               name
0    1625           Animalia
1    1626         Arthropoda
..    ...                ...
804  2429  Solanum melongena
805  2430  Solanum tuberosum

[806 rows x 2 columns]

In [75]:
df_taxon[df_taxon.duplicated('name')]

       id       name
694  2319  Dioscorea

In [76]:
df_merged = df_taxon2.merge(right=df_taxon, on='name')
df_merged

,id_x,tid,parent_tid,name,trank,lineage,id_y
0,1,6,None,Plantae,kingdom,Plantae,2292
1,2,7707728,6,Tracheophyta,phylum,Plantae|Tracheophyta,2293
...,...,...,...,...,...,...,...
779,6107,3177662,5014,Eugenia,genus,Plantae|Tracheophyta|Magnoliopsida|Myrtales|Myrtaceae|Eugenia,2401
780,6108,7907394,3177662,Eugenia malaccensis,species,Plantae|Tracheophyta|Magnoliopsida|Myrtales|Myrtaceae|Eugenia|Eugenia malaccensis,2402

In [77]:
df_taxon2[df_taxon2.name=='Dioscorea']

,id,tid,parent_tid,name,trank,lineage
131,318,2754367,7694,Dioscorea,genus,Plantae|Tracheophyta|Liliopsida|Dioscoreales|Dioscoreaceae|Dioscorea
132,319,8223036,2754367,Dioscorea,species,Plantae|Tracheophyta|Liliopsida|Dioscoreales|Dioscoreaceae|Dioscorea|Dioscorea

In [78]:
df_taxon[df_taxon.name=='Dioscorea']

       id       name
693  2318  Dioscorea
694  2319  Dioscorea

In [79]:
df = pd.read_sql_query('select * from taxon2',con=engine)
df[df.name=='Dioscorea']

,id,tid,parent_tid,name,trank,lineage
131,318,2754367,7694,Dioscorea,genus,Plantae|Tracheophyta|Liliopsida|Dioscoreales|Dioscoreaceae|Dioscorea
132,319,8223036,2754367,Dioscorea,species,Plantae|Tracheophyta|Liliopsida|Dioscoreales|Dioscoreaceae|Dioscorea|Dioscorea